# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\BMTT\LAB\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
